<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="container">

    <button id="sidebar-toggle" class="sidebar-toggle">
      <input id="local-search-path" type="hidden" value="<%-url_for(config.search.path)%>" />
      <div class="sidebar-toggle-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>

    <aside class="sidebar">
    <%
    	var current_tag = page.tag;
      var current_post_title = page.title;
    	if(!current_tag) {
    		if(page.tags) {
    			current_tag = page.tags.first().name;
    		}
    	}
    %>
    <%- partial('_partial/sidebar', {c_tag: current_tag, c_title: current_post_title}) %>
    </aside>

    <main>
      <div class="content">
        <%- body %>
      </div>
    </main>

  </div>

  <%- partial('_partial/footer') %>
</body>

</html>